$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
$font-stack: 'Open Sans', sans-serif;
$ionicons-font-path: "../lib/ionic/fonts" !default;

// The path for our ionicons font files, relative to the built CSS in www/css
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


.slider {
    height: 100%;
}
.slider-slide{
    padding-top: 60px;
    color: #000;
    text-align: center;
    font-family: $font-stack;
    font-weight: 300;
}

.slider-slide:before {
    background-image: url('/img/Biryani.Jpeg');
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

#logo {
    margin: 30px 0px;
}
.bar .title.title-left {
    text-align: center;
}
#list {
    width: 90%;
    margin: auto;
    font-size: 20px;

    .item {
        margin: 10px 0;

        img {
            width: 100%;
        }
    }
}

#list ol {
    margin-top: 30px;
}

#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0px;
}

.button.ng-hide {
    display: none;
}
